<div class='col-lg-4 col-md-6 user-block'>
  <%= image_tag icon_for(user), size: '80' %>
  <p>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
	data: { confirm: "You sure?" } %>
    <% end %><br>
    <%= user.comment %>
  </p>
</div>
