<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
	<% if @user.user_icon? %>
	  <%= image_tag @user.user_icon.url %>
	<% else %>
          <%= gravatar_for @user %>
	<% end %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
